<form method="post" action="{{ path('app_todo_delete', {'id': todo.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
    <button class="card__link-primary">Terminer</button>
</form>